# Load .env.development* files when running wrangler dev
NEXTJS_ENV=development

CLOUDFLARE_DATABASE_ID=database-id
CLOUDFLARE_ACCOUNT_ID=account-id
CLOUDFLARE_TOKEN=api-token

OPACA_SECRET=secret
OPACA_DB_URL=postgresql://...
OPACA_DB_TARGET=remote
OPACA_DB_DIALECT=pg
OPACA_BASE_URL=http://localhost:3000