# Load .env.development* files when running `wrangler dev`
NEXTJS_ENV=development

NEXT_PUBLIC_BASE_URL=http://localhost:3000

CLOUDFLARE_DATABASE_ID=db_id
CLOUDFLARE_ACCOUNT_ID=account_id
CLOUDFLARE_TOKEN=cloudflare_token

CMS_TARGET=remote
CMS_DB=sqlite